.app-tasks-list {
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    height: 100vh;
    width: 300px;
    padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.task-group {
    padding: 0;
}

.add-task-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.add-task-row__button {
    flex: 1;
    display: flex;
    height: 30px;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
    border-radius: 25px;
}

.add-task-row__button p {
    margin-left: 1rem;
    color: #0000aa;
    font-size: 14px;
}

.add-task-row__button:hover {
    background-color: rgb(245, 245, 245);
}

.task-group-item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 0;
}

.task-group-item:hover {
    background-color: rgb(245, 245, 245);
}

.task-text__title {
    font-size: 14px;
    margin: 0;
}

.task-text__details {
    margin: 0;
    font-size: 12px;
}

.task-group-inputs {
    width: 60%;
}

.task-group-button {
    width: 100%;
}

.task-item-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}

.task-item-ellipses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}

input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
}
