<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="An example application showcasing Vite & Marko. Todos by Colin Santee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <${input.head}/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <main id="main">
        <${input.body}/>
      </main>
    </div>
  </body>
</html>
