<app-layout>
  	<@head>
		<title>Marko Tasks</title>
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
			media="all"
			rel="stylesheet" 
		/>
	</@head>
	<@body>
		<app-tasks-list />
	</@body>
</app-layout>
