.ellipses {
    background-color: inherit;
}

.menu {
    position: absolute;
    right: 0;
    width: 200;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid lightgray;
}

.menu-item {
    padding: 0;
    margin: 0;
}

.menu-item p {
    margin: 0;
}
